site_name: Badgers Documentation
site_url: https://github.com/Fraunhofer-IESE/badgers
repo_url: https://github.com/Fraunhofer-IESE/badgers
repo_name: Fraunhofer-IESE/badgers

nav:
    -   Home: index.md
    -   Getting started: getting-started.md
    -   About: about.md
    -   Changes: changelog.md
    -   Tutorials:
            -   Tabular Data:
                    -   Generating Imbalanced Data: tutorials/Imbalance-Tabular-Data.ipynb
                    -   Generating Missing Data: tutorials/Missingness-Tabular-Data.ipynb
                    -   Generating Noise: tutorials/Noise-Tabular-Data.ipynb
                    -   Generating Outliers: tutorials/Outliers-Tabular-Data.ipynb
            -   Text Data:
                    -   Generating Typos: tutorials/Typos-Text.ipynb
            -   Time Series Data:
                    -   Generating Point Outliers: tutorials/Outliers-Time-Series.ipynb
                    -   Generating Patterns: tutorials/Patterns-Time-Series.ipynb
                    -   Generating Trends: tutorials/Trends-Time-Series.ipynb
                    -   Generating Seasons: tutorials/Seasons-Time-Series.ipynb
                    -   Generating Changepoints: tutorials/Changepoints-Time-Series.ipynb
            -   Pipelines:
                    -   Chaining Generators: tutorials/Pipeline-Tabular-Data.ipynb
    -   API: reference/

theme:
    name: material
    features:
        - navigation.sections
        - navigation.indexes
        - navigation.instant

plugins:
    - search
    -   gen-files:
            scripts:
                - docs/gen_ref_pages.py
    -   literate-nav:
            nav_file: SUMMARY.md
    -   mkdocstrings:
            handlers:
                python:
                    options:
                        show_source: true
                    selection:
                        docstring_style: sphinx
    - mkdocs-jupyter
watch:
    - ../badgers
